.modal-actions {
display: inline-block;
}

.modal-content {
height: 100%;
padding-top: 50%;
text-align: center;
background-image: linear-gradient(#ffffff, #ffffff, #52c952);
}

.icon-button {
    margin: 8px;
}