<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>KW 11</ion-title>
    <ion-button slot="end">
      <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">KW 11</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="date-area">
          <span class="date">16</span>
          <span class="top">Montag</span>
        </div>
        <ion-grid class="icon-area">
          <ion-row>
            <ion-col class="icon">
              <ion-icon name="home-outline"></ion-icon>
              <span class="top"></span>
            </ion-col>
            <ion-col class="icon">
              <ion-icon name="people-outline"></ion-icon>
              <span class="top">0</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <div class="date-area">
          <span class="date">17</span>
          <span class="top">Dienstag</span>
        </div>
        <ion-grid class="icon-area">
          <ion-row>
            <ion-col class="icon">
              <ion-icon name="home-outline"></ion-icon>
              <span class="top"></span>
            </ion-col>
            <ion-col class="icon">
              <ion-icon name="people-outline"></ion-icon>
              <span class="top">0</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="date-area">
          <span class="date">18</span>
          <span class="top">Mittwoch</span>
        </div>
        <ion-grid class="icon-area">
          <ion-row>
            <ion-col class="icon">
              <ion-icon name="cloudy-night-outline"></ion-icon>
              <span class="top">2</span>
            </ion-col>
            <ion-col class="icon">
              <ion-icon name="people-outline"></ion-icon>
              <span class="top">2</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <div class="date-area">
          <span class="date">19</span>
          <span class="top">Donnerstag</span>
        </div>
        <ion-grid class="icon-area">
          <ion-row>
            <ion-col class="icon">
              <ion-icon name="thunderstorm-outline"></ion-icon>
              <span class="top">4</span>
            </ion-col>
            <ion-col class="icon">
              <ion-icon name="people-outline"></ion-icon>
              <span class="top">4</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="date-area">
          <span class="date">20</span>
          <span class="top">Freitag</span>
        </div>
        <ion-grid class="icon-area">
          <ion-row>
            <ion-col class="icon">
              <ion-icon name="warning-outline"></ion-icon><br>
              Fehlender Eintrag
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <div class="date-area">
          <span class="date">21</span>
          <span class="top">Samstag</span>
        </div>
        <ion-grid class="icon-area">
          <ion-row>
            <ion-col class="icon">
              <ion-icon name="home-outline"></ion-icon>
              <span class="top">2</span>
            </ion-col>
            <ion-col class="icon">
              <ion-icon name="people-outline"></ion-icon>
              <span class="top">2</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="date-area">
          <span class="date">22</span>
          <span class="top">Sonntag</span>
        </div>
        <ion-grid class="icon-area">
          <ion-row>
            <ion-col class="icon">
              <ion-icon name="add-outline"></ion-icon><br>
              Eintrag hinzufügen
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <div class="date-area">
          <span class="date">30</span>
          <span class="top">Montag</span>
        </div>
        <ion-grid class="icon-area">
          <ion-row>
            <ion-col class="icon">
              <ion-icon name="home-outline"></ion-icon>
              <span class="top">2</span>
            </ion-col>
            <ion-col class="icon">
              <ion-icon name="people-outline"></ion-icon>
              <span class="top">2</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createEntry()">
      <ion-icon icon="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
