<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>KW 11</ion-title>
    <ion-button slot="end">
      <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">KW 11</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="date-area">
          <span class="date">16</span>
          <span class="top">Montag</span>
        </div>
        <ion-grid class="icon-area">
          <ion-row>
            <ion-col class="icon">
              <ion-icon name="home"></ion-icon>
              <span class="top"></span>
            </ion-col>
            <ion-col class="icon">
              <ion-icon name="people"></ion-icon>
              <span class="top">0</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <div class="date-area">
          <span class="date">17</span>
          <span class="top">Dienstag</span>
        </div>
        <ion-grid class="icon-area">
          <ion-row>
            <ion-col class="icon">
              <ion-icon name="home"></ion-icon>
              <span class="top"></span>
            </ion-col>
            <ion-col class="icon">
              <ion-icon name="people"></ion-icon>
              <span class="top">0</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="date-area">
          <span class="date">18</span>
          <span class="top">Mittwoch</span>
        </div>
        <ion-grid class="icon-area">
          <ion-row>
            <ion-col class="icon">
              <ion-icon name="partly-sunny"></ion-icon>
              <span class="top">2</span>
            </ion-col>
            <ion-col class="icon">
              <ion-icon name="people"></ion-icon>
              <span class="top">2</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <div class="date-area">
          <span class="date">19</span>
          <span class="top">Donnerstag</span>
        </div>
        <ion-grid class="icon-area">
          <ion-row>
            <ion-col class="icon">
              <ion-icon name="partly-sunny"></ion-icon>
              <span class="top">4</span>
            </ion-col>
            <ion-col class="icon">
              <ion-icon name="people"></ion-icon>
              <span class="top">4</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="date-area">
          <span class="date">20</span>
          <span class="top">Freitag</span>
        </div>
        <ion-grid class="icon-area">
          <ion-row>
            <ion-col class="icon">
              <ion-icon name="warning-outline"></ion-icon><br />
              Fehlender Eintrag
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <div class="date-area">
          <span class="date">21</span>
          <span class="top">Samstag</span>
        </div>
        <ion-grid class="icon-area">
          <ion-row>
            <ion-col class="icon">
              <ion-icon name="partly-sunny"></ion-icon>
              <span class="top">2</span>
            </ion-col>
            <ion-col class="icon">
              <ion-icon name="people"></ion-icon>
              <span class="top">1</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="date-area">
          <span class="date">22</span>
          <span class="top">Sonntag</span>
        </div>
        <ion-grid class="icon-area">
          <ion-row>
            <ion-col class="icon">
              <div class="add-entry" (click)="createEntry()">
                <div>
                  <ion-icon name="add"></ion-icon>
                </div>
                <div>Eintrag hinzufügen</div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <ion-grid class="icon-area">
          <div class="week-heading">Deine Woche</div>
          <ion-row>
            <ion-col class="icon">
              <ion-icon name="partly-sunny"></ion-icon>
              <span class="top">8</span>
            </ion-col>
            <ion-col class="icon">
              <ion-icon name="people"></ion-icon>
              <span class="top">7</span>
            </ion-col>
          </ion-row>
          <div class="warning">
            <div>
              <ion-icon size="small" name="warning-outline"></ion-icon>
            </div>
            <div>unvollständig</div>
          </div>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
