<ion-tabs>

    <ion-tab-bar slot="bottom" color="secondary">
        <ion-tab-button tab="home">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Kalender</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="news">
            <ion-icon name="newspaper"></ion-icon>
            <ion-label>Aktuelles</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="summary">
          <ion-icon name="ellipse"></ion-icon>
          <ion-label>Zusammenfasung</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Einstellungen</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
