<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Benachrichtigung bei Eintragserinnerung</ion-label>
      <ion-toggle [(ngModel)]="entryNotification" (ionChange)="save()"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Benachrichtigungsuhrzeit</ion-label>
      <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="timeForNotification" (ionChange)="save()"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Benachrichtigung bei neuer Nachricht</ion-label>
      <ion-toggle [(ngModel)]="newMessageNotification" (ionChange)="save()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
