<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-news *ngIf="news">
    News-Status: {{news?.status}}
    Totale News: {{news?.totalResults}}
  </app-news>

    <ion-item>
      <ion-datetime value="2020-03-21" placeholder="Select Date"></ion-datetime>
    </ion-item>

    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-card-title>Ausgangssperre verhängt!</ion-card-title>
          <ion-button fill="clear" slot="end">Artikel</ion-button>
        </ion-item>

      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <ion-item>
      <ion-datetime value="2020-03-20" placeholder="Select Date"></ion-datetime>
    </ion-item>

    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-card-title>Ausgangssperre angekündigt</ion-card-title>
          <ion-button fill="clear" slot="end">Artikel</ion-button>
        </ion-item>

      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-card-title>Ausgangssperre in Diskussion</ion-card-title>
          <ion-button fill="clear" slot="end">Artikel</ion-button>
        </ion-item>

      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

</ion-content>
