<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Tab 1
    </ion-title>
    <ion-buttons slot="end">
      <ion-button ion-button [disabled]="isToday" (click)="today()">Today</ion-button>
      <ion-button ion-button (click)="changeMode('month')">Month</ion-button>
      <ion-button ion-button (click)="changeMode('week')">Week</ion-button>
      <ion-button ion-button (click)="changeMode('day')">Day</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <calendar [eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            step="30">
  </calendar>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon icon="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
