<div class="progress-content">
    <div class="selected-day">
        <div class="current-date">
            <ion-icon name="time"></ion-icon> So, 22.03.2020
        </div>
    </div>
    <div class="entry-content">
        <ng-container *ngIf="activeProcessStep !== processSteps.STEP5">
            <ng-container *ngIf="activeProcessStep === processSteps.STEP1 || activeProcessStep === processSteps.STEP3">
                <app-choice-page [isLocation]="activeProcessStep === processSteps.STEP1"
                    (outsideEmitter)="wasOutside($event)" (contactEmitter)="hadContact($event)"
                    (goBackEmitter)="nextStep(false)"></app-choice-page>
            </ng-container>
            <ng-container *ngIf="activeProcessStep === processSteps.STEP2 || activeProcessStep === processSteps.STEP4">
                <app-list-page [isLocation]="activeProcessStep === processSteps.STEP2"
                    (nextStepEmitter)="nextStep($event)" (personEmitter)="setPersons($event)"
                    (placesEmitter)="setPlaces($event)" [personList]="persons" [placeList]="places">
                </app-list-page>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="activeProcessStep === processSteps.STEP5">
            <div class="heading">Zusammengefasst:</div>
            <div class="conclusion">
                <ion-icon size="large" name="people"></ion-icon>
                <div> Personen: </div>
                <div class="result">{{persons.length}}</div>
            </div>
            <div class="conclusion">
                <ion-icon size="large" name="partly-sunny"></ion-icon>
                <div> Orte: </div>
                <div class="result">{{places.length}}</div>
            </div>
            <div class="conclusion">
                <div style="font-weight: bold;">Bewertung:</div>
                <div class="result">Du bist eine große Hilfe im Kampf gegen die Ausbreitung von Covid-19!</div>
            </div>
            <div class="buttons-bottom">
                <div class="button-bottom-back">
                    <ion-button shape="full" color="tertiary" (click)="nextStep(false)">
                        Zurück
                    </ion-button>
                </div>

                <div class="button-bottom-forth">
                    <ion-button shape="full" color="secondary" (click)="nextStep(true)">
                        Speichern
                    </ion-button>
                </div>
            </div>
        </ng-container>
    </div>
</div>